@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';

a {
  color: $color-primary;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}

.sr-only {
  @include visually-hidden;
}
